<div class="row">
    <a class="col-sm-6" href="http://ballycc.site50.net" target="_blank">
        <img src="../../images/bccsite.JPG"/>
    </a>
    <div class="caption col-sm-6">
        <h1>Bally Community Center</h1>
        <p>The BCC is a church ran center
        that has programs for kids such as hangout nights, after school homework
        help, as well as other community events like golf outtings.</p>
        <p>The BCC is a church ran center
        that has programs for kids such as hangout nights, after school homework
        help, as well as other community events like golf outtings.</p>
        <p>The BCC is a church ran center
        that has programs for kids such as hangout nights, after school homework
        help, as well as other community events like golf outtings.</p>
        <p>The BCC is a church ran center
        that has programs for kids such as hangout nights, after school homework
        help, as well as other community events like golf outtings.</p>
    </div>
</div>