
<h1>Gateway Ticketing Systems</h1>
<p>
    In the summer of 2014 I had an internship with Gateway Ticketing Systems(GTS).
    During this internship I worked on a customer web site. My task was to build
    a single page JavaScript form for reserved seat checkouts. I used the AngularJS
    framework from Google along with an existing API created by GTS to create a 
    user friendly light weight form for the customer. Having never used a JavaScript
    framework before I was challenged to step into new waters and advance my knowledge
    of JavaScript through working with AngularJS.
</p>
