
<h1>Portfolio Website</h1>
<p>
    Through this site, I was able to explore different design
    techniques. While also making use of Git with GitHub to 
    explore better version control practices. 
</p>

<p>
    As of now, I am employed with Clark Associates as a PHP Developer.
    I am very excited to work with such a talented group of programmers,
    and with a company that is expanding rapidly.
    From this experience I hope to gain a better knowledge of PHP
    and the Laravel Framework they use.
</p>